

:root {
    --primary-orange: hwb(192 0% 0%);          
    --dark-orange: hwb(192 0% 0%);             
    --light-orange: hwb(192 0% 0%);            
    --accent-orange: hwb(192 0% 0%);
    
    --black: #0a0a0a;                   
    --dark-bg: #141414;                 
    --card-bg: #1a1a1a;                 
    --medium-gray: #2a2a2a;             
    --light-gray: #3a3a3a;
    
    --white: #ffffff;                   
    --off-white: #f5f5f5;              
    --text-gray: #b8b8b8;              
}




